html, body{
    max-width: 100% !important;
    overflow-x: clip !important;
}
.banner{
    background-image: url("../img/home-banner.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 650px;
}
.banner::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #271f1f7c;
}
.bg-footer-home{
    background-image: url('../img/footer-contact-home.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 650px;
}
#map { 
    width: 100%;
    height: 580px;
    box-shadow: 5px 5px 5px #888;
}
@media screen and (max-width: 900px){
    .logo-housing{width: 600px;}
}
@media screen and (max-width: 580px){
    .redes{display: none !important}
    .text-title{position: relative !important; height: auto !important}
    .search{display: inline-block !important;}
    .rounded-search-mobile{border: 1px solid rgb(195, 195, 195) !important; border-radius: 5% !important; padding: 10px 20px 10px 20px !important}
    .slash{display: none !important}
    .section-search{padding-left: 5% !important; padding-right: 5% !important}
    .margin-bottom-mobile{margin-bottom: 9px !important}
    .border-tabs-mobile{border-radius: 25px !important; border: .5px solid rgb(202, 202, 202) !important; box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;}
    .btn-search-mobile{text-align: center !important; margin-top: 20px !important}
    .label-filter{display: block !important}
    .img-filters{display: inline-block !important}
    .logo-housing{width: 250px;}
    .title{font-size: 23px !important;}
    .filters{box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; display: inline !important; width: 100% !important; margin-left: 5% !important; margin-right: 5% !important;}.filters > select, .filters > input, .filters > button {width: 100% !important; margin-top: 2% !important; margin-bottom: 2% !important;}
    .padding-mobile-0{padding-left: 0px !important; padding-right: 0px !important;}
    .characteristics{display: block !important; text-align: center !important;}
    .characteristics > p {padding-top: 0px !important;}
    .image_thumbnail{height: 250px !important;}
    .card-body{padding-top: 50px !important; }
    .card-body > a > h2{padding-right: 0px !important;}
}
.card:hover{
    box-shadow: #242B40;
}
input[type='checkbox'] {
    accent-color: #0F0F0F;
}
.form-control:focus, .form-select:focus {
    outline:none !important;
    border: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.card:hover > .footer-card{
    background-color: #242B40 !important;
    border-radius: 0px 0px 5px 5px;
    color: #ffffff;
}
.inputs-contact::placeholder{
    color: #ffffff !important;
}
@keyframes slide-right{
    from{
        margin-right: -350px;
    }
    to{
        margin-right: 0px;
    }
}
@keyframes slide-left{
    from{
        margin-right: 0px;
    }
    to{
        margin-right: -350px;
    }
}
@keyframes slide-button-filter-right{
    from{
        margin-right: 0px;
    }
    to{
        margin-right: -100px;
    }
}
@keyframes slide-button-filter-left{
    from{
        margin-right: -100px;
    }
    to{
        margin-right: 0px;
    }
}