.bg-footer-home{
    background-image: url('../img/footer-contact-home.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 650px;
}
.inputs-contact::placeholder{
    color: #ffffff !important;
}
.form-control:focus, .form-select:focus {
    outline:none !important;
    border: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}